.section {
}
.section_theme_light-blue {
}
.publications {
}
.section__container {
}
.section__title {
}
.team * {
    box-sizing: border-box;
}
.team {
    background-color: #001337;
    padding-bottom: 150px;
}
.team__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.team__wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 -76px;
    position: relative;
}
.team__slider-button {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    background-image: url("../../images/right-white-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
    box-shadow: 0px 4px 30px rgba(224, 240, 255, 0.1);
    cursor: pointer;
}
.team__slider-button_prev {
    transform: rotate(180deg);
}
.team__slider-button_next {
}
.team__slider-pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    column-gap: 12px;
    bottom: -38px !important;
}

.team__pagination-bullet {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e0f0ff;
    opacity: 0.5;
    bottom: 0;
    left: 0px;
    cursor: pointer;
}

.team__pagination-bullet_active {
    opacity: 1;
    cursor: default;
}

.swiper {
}
.team__slider {
    /* padding: 15px;
    margin: -15px; */
}
.swiper-wrapper {
}
.team__cards {
}
.team-card {
}
.card-team {
    max-width: 255px;
    padding: 20px 20px 30px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
    border-radius: 10px;
}
.card-team__image {
    margin-bottom: 16px;
    width: 100%;
    border-radius: 10px;
}

.card-team__name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 4px;
}
.card-team__about {
    font-size: 14px;
    line-height: 19px;
    font-style: italic;
    text-align: center;
    color: #009fac;
    margin: 0;
}
