.card-team__image {
    margin-bottom: 16px;
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 1440px) {
    .card-team__image {
        margin-bottom: calc(8px + (16 - 8) * ((100vw - 768px) / (1440 - 768)));
    }
}

@media (max-width: 768px) {
    .card-team__image {
        margin-bottom: calc(6px + (8 - 6) * ((100vw - 320px) / (768 - 320)));
    }
}