.contacts {
  max-width: 1440px;
  background: #009FAC;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: minmax(288px, 1110px);
  grid-template-rows: 68px 60px 250px;
  gap: 2em;
  padding: 3em
}

@media (max-width: 800px) {
  .contacts {
    grid-template-rows: 22px 64px 430px;
  }
}
