.contacts {
  align-self: center;
  padding: 80px 15px 35px;
}

@media (max-width: 800px) {
  .contacts {
    padding: 60px 39px;
  }
}

@media (max-width: 400px) {
  .contacts {
    padding: 40px 16px;
  }
}
