.form {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(210px, 350px));
  grid-template-rows: repeat(3, minmax(44px, 60px));
  grid-template-areas:
    'name surname message'
    'phone email message'
    '. button .';
}

@media (max-width: 800px) {
  .form {
    grid-template-columns: minmax(210px, 350px);
    grid-template-rows: repeat(7, 44px);
    grid-template-areas:
      'name'
      'surname'
      'phone'
      'email'
      'message'
      'message'
      'button';
  }
}
