.section__text_form {
  max-width: 919px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 800px) {
  .section__text_form {
    font-size: 12px;
    line-height: 16px;
  }
}
