.education__tab_active {

  background-color: transparent;
  color: #ffffff;
  font-weight: 400;
  border: 1px solid #E0F0FF;
  border-radius: 10px;
  z-index: 5;
  transition: opacity .3s ease-in-out;
}