.footer__social {
  margin: 65px 0 0;
}

.footer__social > a {
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  
  .footer__social {
    margin-top: 30px;
  }

}

@media screen and (max-width: 767px) {
  
  .footer__social {
    margin-top: 20px;
  }

}