.lab__container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 80px;
}
@media screen and (max-width: 880px) {
  .lab__container {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 760px) {
  .lab__container {
    flex-direction: column-reverse;
    margin: 20px 0;
  }
}