.footer__block_info {
  max-width: 263px;
}

.footer__block_info > p:first-of-type {
  margin-bottom: 23px;
}

.footer__block_info > p:last-of-type {
  margin: 0;
}

@media (max-width: 768px) {
  .footer__block_info {
    max-width: 241px;
  }
}
