.lab__card-button {
  border-radius: 10px;
  width: 215px;
  height: 40px;
  border: 1px solid #001337;
  color: #001337;
  line-height: 1.19;
  font-weight: 400;
  font-size: 0.875rem;
  background: transparent;
  cursor: pointer;
}
.lab__card-button:hover {
  cursor: pointer;
  color: white;
  border: 1px solid #FFFFFF;
}