.lab__photo {
  width: calc(100% / 2 - 6px);
  height: 100%;
  margin-right: 12px;
  border-radius: 10px;
  object-fit: cover;
}
.lab__photo:last-child {
  margin-right: 0;
}
@media screen and (max-width: 880px) {
  .lab__photo:first-child {
    display: none;
  }
  .lab__photo {
    width: 100%;
    height: 240px;
  }
}
@media screen and (max-width: 550px) {
  .lab__photo {
    height: 180px;
    border-radius: 5px;
  }
}