.publication__slider {
    margin: -15px;
    padding: 15px;
}

@media (max-width: 768px) {
    .publication__slider {
        padding-right: calc(18px + (39 - 18) * ((100vw - 320px) / (768 - 320)));
        margin-right: calc(-8px + (-30 - -8) * ((100vw - 320px) / (768 - 320)));
    }
}

@media (max-width: 480px) {
    .publication__slider {
        padding: 15px calc(18px + (39 - 18) * ((100vw - 320px) / (768 - 320)));
        margin: -15px calc(-8px + (-30 - -8) * ((100vw - 320px) / (768 - 320)));
    }
}