.card-publication__author {
    margin: 0;
    margin-bottom: 20px;
    color: #009fac;
    font-size: 14px;
    line-height: 19px;
    font-style: italic;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
