.card-publication__social-button {
    background-image: url("../../../images/icon/share-icon.svg");
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
