.projects__card {
  position: relative;
  background-color: #009fac;
  height: 307px;
  min-width: 210px;
  width: 254px;
  margin-right: 29px;
  padding: 20px;
  border-radius: 10px;
  line-height: 20px;
  letter-spacing: 0.1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 5;
}

.projects__card:last-of-type {
  margin-right: 0;
}

.projects__card:hover {
  background: #e0f0ff;
  color: #001337;
}

.projects__card::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  background-image: url(../../../images/bg-projects-factory.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 1;
  border-radius: 10px;
  mix-blend-mode: multiply;
}