.education__tab {
  background-color: transparent;
  border: 1px solid #e0f0ff;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  max-width: 280px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.education__tab:first-of-type {
  transform: translateX(15px);
}