.lab__card_project {
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../../../../images/Background_l1.png);
  background-size: cover;
}
.lab__card_project:hover{
  background: #009FAC;
  background-image: linear-gradient(180deg, #009FAC 0%, rgba(224, 240, 255, 0) 100%, rgba(0, 159, 172, 0) 100%),url(../../../../../images/Background_l1.png);
  background-size: cover;
}