.card-publication__text {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    -webkit-line-clamp: 7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 768px) {
    .card-publication__text {
        font-size: calc(14px + (14 - 12) * ((100vw - 320px) / (768 - 320)));
        line-height: calc(16px + (19 - 16) * ((100vw - 320px) / (768 - 320)));
    }
}

@media (max-width: 684px) {
    .card-publication__text {
        font-size: calc(14px + (14 - 12) * ((100vw - 320px) / (768 - 320)));
        line-height: calc(16px + (19 - 16) * ((100vw - 320px) / (768 - 320)));
        -webkit-line-clamp: 5;
    }
}

@media (max-width: 480px) {
    .card-publication__text {
        -webkit-line-clamp: 8;
    }
}