* {
    box-sizing: border-box;
}

.section {
    padding: 0 0 100px;
}

.publication {
    background-color: #e0f0ff;
}

.publication__container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.publication__wrapper {
    position: relative;
}

.section__title {
}
.publication__slider {
    padding: 15px;
    margin: -15px;
}
.swiper-wrapper {
}
.publication__cards {
    /* display: grid;
    grid-template-columns: repeat(3, 348px);
    gap: 30px 33px; */
}
.swiper-slide {
}
.publication__card {
}
.card-publication {
    /* max-width: 348px; */
    padding: 20px 0 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
    border-radius: 10px;
    /* position: relative; */
    /* height: 548px; */
}

.card-publication:hover .card-publication__content {
    transform: translateY(-70px);
}

.card-publication__image-box {
    padding: 0 19px;
    height: 223px;
    margin-bottom: 20px;
}

.card-publication:hover .card-publication__image {
    height: 158px;
}

.card-publication__image {
    transition: all 0.5s;
    display: block;
    width: 100%;
    height: 223px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.card-publication__content {
    padding: 0 20px 30px;
    color: #000d26;
    background-color: #fff;
    transition: all 0.5s;
    position: relative;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    height: 285px;
}
.card-publication__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 4px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-publication__users {
    margin: 0;
    margin-bottom: 20px;
    color: #009fac;
    font-size: 14px;
    line-height: 19px;
    font-style: italic;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-publication__text {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    -webkit-line-clamp: 7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.publication__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #009fac;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.publication__link {
    display: block;
    padding: 5px;
    padding-right: 41px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.publication__link::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    background-image: url("../../images/icon/arrow-icon.svg");
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.publication__social-button {
    background-image: url("../../images/icon/share-icon.svg");
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.publication__share {
}
.share-publication {
    width: 184px;
    height: 56px;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 12px;
    margin: 0;
    filter: drop-shadow(0px 4px 20px rgba(73, 111, 168, 0.15));
    top: -63px;
    right: -63px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.share-publication::before {
    content: "";
    position: absolute;
    background-image: url("../../images/icon/triangle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
    z-index: 100;
    width: 16px;
    height: 8px;
}

.share-publication_active {
    transition: all 0.3s ease-out;
    visibility: visible;
    opacity: 1;
}

.share-publication__social {
    display: inline-block;
    width: 29px;
    height: 29px;
    padding: 5px;
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.share-publication__social_vk {
    background-image: url("../../images/icon/vk-icon.svg");
}
.share-publication__social_facebook {
    background-image: url("../../images/icon/facebook-icon.svg");
}
.share-publication__social_telegram {
    background-image: url("../../images/icon/telegram-icon.svg");
}
.share-publication__social_instargram {
    background-image: url("../../images/icon/instagram-icon.svg");
}
.share-publication__social_youtube {
    background-image: url("../../images/icon/youtube-icon.svg");
}

.publication__slider-pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    column-gap: 12px;
    bottom: -29px !important;
    /* order: 999; */
}

.publication__pagination-bullet {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #001337;
    opacity: 0.5;
    bottom: 0;
    left: 0px;
    /* order: 999; */
}

.publication__pagination-bullet_active {
    opacity: 1;
}

.publication__slider-button {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 20;
    background-color: #fff;
    background-image: url("../../images/icon/black-arrow-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px 36px;
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
}
.publication__slider-button_next {
    right: -76px;
}
.publication__slider-button_prev {
    left: -76px;
    transform: rotate(180deg) translateY(50%);
}
