.section__text {
  max-width: 920px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .section__text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 400px) {
  .section__text {
    font-size: 12px;
    line-height: 16px;
  }
}
