.card-team__name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 4px;
}

@media (max-width: 1440px) {
    .card-team__name {
        font-size: calc(14px + (18 - 14) * ((100vw - 768px) / (1440 - 768)));
        line-height: calc(19px + (30 - 19) * ((100vw - 768px) / (1440 - 768)));
    }
}

@media (max-width: 768px) {
    .card-team__name {
        font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (768 - 320)));
        line-height: calc(16px + (19 - 16) * ((100vw - 320px) / (768 - 320)));
    }
}