.lab__card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 5px 0;
}
@media screen and (max-width: 780px) {
  .lab__card-title {
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (max-width: 620px) {
  .lab__card-title {
    font-size: 10px;
    line-height: 14px;
  }
}